@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

*{
  font-family: 'Roboto Slab', serif;
  margin:0;
}
#brand{
  display:flex;
  align-items:center;
  color:#e8270b;
  font-size:26px;
  
}
#header-img{
  width:15%;
  height:15%;
}

#active{
    color:white;
    background:black;
}
header{
width:100% !important;
  background-color:#fae05f !important;
  display:flex !important;
  justify-content:space-between !important;
  align-items:center !important;
  padding:0.5% 3% !important;
  top:0 !important;
  position:fixed !important;
}
nav{
 display:flex;
 margin-right:15%;
  justify-content:space-evenly;
  align-items:center;
}
.nav-link{
    min-width:40%;
    font-size: 18px;
    text-align:center;
    margin:0% 5%;
  color:black;
  padding:5%;
  text-decoration:none;
}
.nav-link:hover{
    color:white;
    background:black;
}
#job-content{
    margin:10% 15% 1% 15%;
    display:flex;
    justify-content:space-evenly;
    border:2px solid grey;
    padding:1%;
}
#search{
    padding:1%;
    width:60%;
}
#search-product{
    padding:1%;
    font-size:32px;
    border:3px solid #eb7535;
    width:70%;
}
#location{
    width:35%;
    padding:1%;
    background:#d9d9d9;
    border:none;
}
#content{
    margin-bottom:5%;
}

#content-home{
    margin-bottom:5%;
}
#job-results{
    display:flex !important;
    justify-content:center !important;
}
.job-name{
    color:#eb7535;
}
.job-card{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    border:1px solid #ff7930;
    border-radius:5px;
    background:#fffaf8;
    padding:2%;
    width:50%;
    margin:1%;
box-shadow: 0px 2px 2px grey;
}
.job-card:hover{
    box-shadow: 0px 5px 5px grey;
}
#portal-img{
    width:100%;
    margin-top:10%;
}
#portal-img:hover{
box-shadow:0px 5px 5px black;
}
#home-title{
    color:#eb7535;
    font-size:60px;
    text-align:center;
    margin:2%;
}
#home-content{
    margin:1% 15% 1% 15%;
    display:flex;
    justify-content:space-evenly;
    padding:1%;
}
.product-card{
    display:flex;
    justify-content:flex-start;
    align-items:center;
    border:1px solid #ff7930;
    border-radius:5px;
    background:#fffaf8;
    padding:2%;
    width:50%;
    margin:1%;
box-shadow: 0px 2px 2px grey;
}
.product-card:hover{
    box-shadow: 0px 5px 5px grey;
}
.product-content{
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
}
.product-img{
    width:50%;
    height:100%;
    margin-right:5%;
}
#total{
    color:#eb7535;
    text-align:center;
    width:40%;
    border:2px solid black;
    padding:1%;
}
#buy{
    display:flex;
    justify-content:center;
    align-items:center;
}
#cart-products{
    margin-top:3%;
}
#checkout{
    margin:2%;
    background:#eb7535;
    color:white;
    text-align:center;
    border:2px solid white;
    padding:1.25%;
}
#checkout:hover{
    background:#e27d47;
    box-shadow: 0px 2px 2px grey;
}
#alter{
    background:#eb7535;
    color:white;
    border:2px solid white;
    max-width:10%;
}

#alter:hover{
    background:#e27d47;
    box-shadow: 0px 2px 2px grey;
}
#cart-heading{
    margin-top:12%;
    margin-bottom:3%;
    text-align:center;
    color:grey;
}